@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 
 
* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}

.hide {
    display: none;
}
body {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-color: $primary_lvl_1;
    padding-top: 71px;
    padding-bottom: 71px;
}
main {
    // min-height: 100vh;    
    display: flex;
    justify-content: center;
    // align-items: center;
}

.card {
    border-radius: 18px;
    overflow: hidden;
    width: 327px;
    background-color: white;
    -webkit-box-shadow: 0px 22px 63px -9px rgba(31,39,59,0.18);
    -moz-box-shadow: 0px 22px 63px -9px rgba(31,39,59,0.18);
    box-shadow: 0px 22px 63px -9px rgba(31,39,59,0.18);
}
.hero-img {
    width: 100%;
    display: block;
}



.content {
    padding: 24px;
    
}

h1 {
    text-align: center;
    color: $neutral_lvl_3;
    margin: 12px 0px;
}

p {
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.025em;
    display: block;
    padding: 8px 12px;
    color: $neutral_lvl_2;
}

.purchase-summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding: 12px 16px;
    padding: 16px;
    background-color: $neutral_lvl_1;
    border: 2px solid $neutral_lvl_1;
    border-radius: 12px;
    margin-top: 14px;
    margin-bottom: 22px;
}
.purchase-summary div > p {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 22px;
}
.purchase-summary div > p:first-of-type {
    font-weight: 900;   
    letter-spacing: -0.005em;
    color: $neutral_lvl_3;
}
.purchase-summary div > p:last-of-type {
    padding-top: 0px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.purchase-summary > a {
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.005em;
    margin-left: auto;
    padding-top: 2px;
    padding-right: 0;
    color: $primary_lvl_2;
    cursor: pointer;
    &:hover {
        color: $hover;
    }
}

.action a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.action a:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 50px;
    width: 100%;
    background-color: $primary_lvl_2;
    color: white;
    border-radius: 10px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 20px 37px -2px rgba(42,33,133,0.27);
    -moz-box-shadow: 0px 20px 37px -2px rgba(42,33,133,0.27);
    box-shadow: 0px 20px 37px -2px rgba(42,33,133,0.27);
    &:hover {
        background-color: $hover;
    }
}

.action a:last-of-type { 
    display: block;
    width: 100%;
    text-align: center;
    color: $neutral_lvl_2;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.015em;
    margin-bottom: 5px;
    &:hover {
        color: $neutral_lvl_3;
    }
}

@media screen and (min-width: 376px) {
    body {
        background-image: url("../images/pattern-background-desktop.svg");
    }    
}

@media screen and (min-width: 750px) {
    body {
        padding-top: 102px;
        padding-bottom: 102px;
    }
    h1 {
        font-size: 27px;
        letter-spacing: 0.02em;
        margin-top: 2px;
    }
    p {
        line-height: 26px;
        letter-spacing: 0;
        padding-top: 10px;
    }
    .card {
        width: 450px;
    }
    .content {
        padding: 48px;        
    }
    .purchase-summary {
        padding: 22px;
        margin-bottom: 32px;
    }
    .purchase-summary div {
        align-self: flex-start;
    }
    .purchase-summary div > p {
        font-size: $fsize_primary;
        padding-top: 0;
    }
    .purchase-summary div > p:first-of-type {
        margin-bottom: 4px;
    }
    .purchase-summary > a {
        font-size: 14px;
        padding-top: 0;
    }
    .action a:first-of-type {
        margin-bottom: 32px;
    }
    .action a:last-of-type {
        margin-bottom: -3px;
    }
}
@media screen and (min-width: 1441px) {
    body {
        background-image: url("/images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100% 55%;
    }
}
