// @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
// ----- Font family-----
$ffamily_primary: 'Red Hat Display';
// $ffamily_accent: 'Raleway';

// ----- Font size-----
$fsize_primary: 16px;

// ----- Colors [LIGHT] -----

$hover: #766CF1;

$primary_lvl_1: hsl(225, 100%, 94%);
$primary_lvl_2: hsl(245, 75%, 52%);


$neutral_lvl_1: hsl(225, 100%, 98%);
$neutral_lvl_2: hsl(224, 23%, 55%);
$neutral_lvl_3: hsl(223, 47%, 23%);





